PADDLE_ENV=production
PADDLE_API_KEY=your_live_api_key_here
PADDLE_NOTIFICATION_WEBHOOK_SECRET=your_live_webhook_signing_secret_here

PADDLE_PRO_MONTHLY_PRICE_ID=pri_01kxsfyk134yk1y741d0vcm45c
PADDLE_PRO_YEARLY_PRICE_ID=pri_01kxsfyktcfcqnckvgjchebghv
PADDLE_ADVANCE_MONTHLY_PRICE_ID=pri_01kxsfymg1vph3sg7dw4amqcq6
PADDLE_ADVANCE_YEARLY_PRICE_ID=pri_01kxsfymt7297wfdk1a4s5vgsv
PADDLE_ELITE_MONTHLY_PRICE_ID=pri_01kxsfynf6yx2790jnrheb3hp4
PADDLE_ELITE_YEARLY_PRICE_ID=pri_01kxsfynvy8602e8pyyx255wvc
